extends common
block content
    .container.mt5
        
        if errors 
            each error in errors
                .alert.alert-danger=error

    form(action="", method="POST", enctype="multipart/form-data")
            .form-group.mb-3
                label.form-label(for='Title') Title
                input#Title.form-control(type='text',  name="title",
                value = quiz ? quiz.title : values ? values.title : ""  )
            .form-group.mb-3
                label.form-label(for='Description') Description
                input#Description.form-control(type='text', name="description", 
                value= quiz? quiz.description : values ? values.description : "" )
            .form-group.mb-3
                label.form-label(for="avatar") Avatar
                input#avatar.form-control-file(type="file", name="avatar", accept="image/*")
            button.btn.btn-primary UPDATE 